html{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 4px;
    padding: 0;
}
.live__scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.live__scroll .row{
    display:block;
}
.live__scroll .live__scroll--box {
    display: inline-block;
    float: none;
    padding: 15px;
}